//@import "http://archive.andreystarkov.ru/resources/fonts/pobeda/regular/styles.css";
//@import "http://archive.andreystarkov.ru/resources/fonts/styles.css";

@colorMain: #ff6f5a;
@colorRed: #e74232;
@colorWhite: #fffeff;

@defaultHeading: 'Pobeda'; // 'Lora'; // 'Merriweather', serif; // 'Pobeda';
@defaultSans: 'Roboto Condensed'; // 'Hattori Hanzo';

@defaultHeadingWeight: 600;

// font-family: 'Noto Serif', serif;
// font-family: 'Playfair Display', serif;
// font-family: 'Tinos', serif;

@catalogItemNameFont: @defaultHeading;
@catalogItemDescriptionFont: @defaultSans;
@mainNavigationFont: @defaultSans;
@mainNavigationFontSize: 1.5rem;
@mainNavigationFontWeight: 400;

@contactsFontWeight: 600;
@contactsFontSize: 2rem;
@contactsFont: 'Roboto Condensed';

@buttonFontSize: 1.5em;
@buttonFontWeight:600;
@buttonFont: 'Pobeda';
@buttonLineHeight:auto;

@colorLightBrown: #C8B595;
@colorPaleRed: #BD4335;
@colorBrown: #8B3834;

@colorWhite: #fff;

// 'Airport'; // 'Exo 2 Condensed'; // 'BravoRG'; //'Ristretto Pro';

//'/Bukhari Script';

// 'Muller Narrow'
// 'Arian AMU';
// 'Monitorica';
// 'Muller Narrow';
// 'Hattori Hanzo';
//'Ristretto Pro';

@colorCaptionBg: mix(#fff,@colorLightBrown, 20%);

.page-footer {
  padding: 2.5rem 0;
  color: #111;
  text-align: center;
  background-color: lighten(#d5cab7,10%);
  font-family: @defaultSans;
  border-top: .1rem solid darken(#d5cab7,5%);
}
.contact-items {
  margin-top:6rem;
}

.contact-item-address {
  display:block;
  color: #111;
  margin-top:4rem;
  b {
    line-height:2rem;
    display: inline-block;
    margin-left: 1rem;
    font-weight:300;
    font-size: 1.5rem;
    span {
      opacity: .5;
    }
  }
  [class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-size: 1.6rem;
    line-height: 1.6rem;
  }
}

.contacts-header {
  .main-header-container {
    padding-top:10rem;
  }
  .react-parallax-content {
    background: fade(#fff,30%);
  }
}

.button-map {
    margin-top: 3rem;
    font-size: 1.5rem;
    padding-left: 1rem;
    padding-right: 0.5rem;
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
}

.contact-item {
  display:inline-block;
  ._subscript {
    font-weight:200;
  }
  b {
    line-height:2rem;
    display: inline-block;
    margin-left: 1rem;
    font-weight:300;
    color:#111;
    font-size: 2.5rem;
    span {
      opacity: .5;
    }
  }
  [class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-size: 2.2rem;
    line-height: 2.3rem;
  }
}


.contact-us {
  text-align:center;
  font-family: @defaultHeading;
  h3 {

    font-family: @defaultHeading;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}

.swal2-modal.modal-confirm {
  h2 {
    font-size:2.2rem;
  }
  .swal2-content {
    font-family: @defaultSans;
    font-size:1.25rem;
  }
}

.section-catalog {
  .catalog-grid-item {
    margin-left:0;
    margin-right:0;
    padding-left:0;
    padding-right:0;
  }
  .catalog-item {
    position:relative;
    img {
      width:100%;
    }
    .catalog-item-overlay {
      position:absolute;
      top:0; left:0;
     // background: fade(#fff,50%);
      width:100%;
      height:100%;
      opacity:1;
      transition: 0.3s background-color;
    }
    &:hover {
      .catalog-params {
        transform:scale(1) translateY(0);
        opacity:1;
      }
      .catalog-item-overlay {
        background: fade(#fff,30%);
      }
      .catalog-name {
        background: mix(@colorCaptionBg,#fff,10%);
      }
      .catalog-description {
        background: mix(@colorCaptionBg,#fff,40%);
      }
    }
    .catalog-caption {
      position:absolute;
      bottom:1rem;
      .catalog-name {
        font-family: @catalogItemNameFont;
        background: mix(@colorCaptionBg,#fff,30%);
        padding: 0.5rem 1rem;
        color: #111;
        font-size:1.7rem;
        display:inline-block;
      }
      .catalog-description {
        font-family: @catalogItemDescriptionFont;
        background: mix(@colorCaptionBg,#fff,70%);
        padding: 0.5rem 1rem;
        color: #111;
        font-size:1rem;
        display:block;
      }
      .catalog-name, .catalog-description {
        transition:0.4s ease-in all;
      }
    }
    .catalog-params {
      transition: 0.35s ease-in-out all;
      transform: scale(0.5) translateY(-200px);
      opacity:0;
      position: absolute;
      top: 30%;
      width:100%;
      display:block;
      text-align:center;
      .catalog-price, .catalog-weight {
        font-family: @catalogItemDescriptionFont;
        background: fade(mix(@colorCaptionBg,#fff,30%),50%);
        padding: 0.5rem 1rem;
        color: #111;
        margin-left:1rem; margin-right:1rem;
        font-size:1.2rem;
        display:inline-block;
      }

      .catalog-weight {
        background: fade(mix(@colorCaptionBg,#fff,80%),50);
      }
    }
  }
}

.button-square-buy {
   display:block;
   margin: 2rem auto;
   font-size:1.8rem;
   color: #fff;
   background: mix(@colorPaleRed,@colorRed,50%);
   padding:1.5rem 2.5rem;
   border: 0;
   font-size: @buttonFontSize;
   font-weight: @buttonFontWeight;
   font-family: @buttonFont;
   line-height: @buttonLineHeight;
   outline: none;
   padding: 0rem 2.2rem;

 //  background: transparent;
   &:hover {
     background: mix(mix(@colorPaleRed,@colorRed,50%),#fff,95%);
   }
}

.main-header {
 // min-height: 80vh;
  .react-parallax, .react-parallax-content, .main-header-container {
    min-height: 100vh;
  }
}

._slider-image {
  opacity:0;
}

.main-header-container {
  position:relative;
  //display:flex;
  //align-items:center;
  //justify-content:center;
  width:100%;
  height:100%;
  padding-top:12rem;
}

.top-phones {
  position:absolute;
  right:1rem;
  top:1rem;
  text-align:right;
  b, span {
    color:#111;
    font-family: @defaultSans;
  }
  .phone {
    display:block;
    font-weight:500;
    font-size:2.4rem;
    span {
      color: fade(#000,50%);
      font-weight:300;
    }
  }
}

.main-logo-wrapper {
  margin: auto;
  max-width: 35rem;
  padding: 2rem 3rem;
  //background-color:fade(#fff,50%);
  svg {
    width:100%;
  }
}

.main-logo {
  path {
    fill: @colorRed
  }
}

.interior-grid {
  .container-fluid {
    padding-left:0;
    padding-right:0;
  }
}

.interior-item {
  cursor: pointer;
  display:block;
  position:relative;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  .interior-image-link {
    display:block;
    width:100%;
    height:100%;
  }
  .interior-image {
    //min-height: 20rem;
    width:100%;
    height:20rem;
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
  }
  &:hover {
    .image-overlay {
      opacity:0;
    }
  }
}

.image-overlay {
  position:absolute;
  z-index:0;
  left:0;
  top:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  background-color:fade(#fff,15%);
  transition: .35s all;
}

.interior-header .main-navigation-wrapper {
    position: absolute;
    top: 3rem;
    font-size: 1.8rem;
    font-weight: @defaultHeadingWeight;
    left: 13rem;
}

.main-navigation {
  text-align:center;
  margin-top:8%;
  .nav-item {
    margin-left:1.5rem;
    margin-right:1.5rem;
    font-family: @mainNavigationFont;
    font-size: @mainNavigationFontSize;
    font-weight: @mainNavigationFontWeight;
    color: #000;
  }
}

.main-food-text {
  padding-top: 14rem;
  min-height: 38rem;
  padding-bottom: 14rem;
  background-color: @colorWhite;
  position:relative;
  .decorative-left {
    height: 100%;
    position: absolute;
    left:0;
    top:2rem;
    width:37%;
    background-size: 100% auto;
    background-position: top left;
    background-repeat: no-repeat;
  }
  .decorative-right {
    height: 100%;
    position: absolute;
    right:0;
    top:-2rem;
    width:28%;
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
  }
}

.decorative-container {
  position:relative;
  width:100%;
  height:100%;
}

.decorative-section-content {
  font-family: @defaultHeading;
  h2 {
    font-weight: @defaultHeadingWeight;
    font-size:3.4rem;
    font-family: @defaultHeading;
    margin-bottom:3rem;
  }

  p {
    font-family: @defaultSans;
    font-weight: 300;
    line-height:2rem;
    font-size:1.5rem;
    margin-bottom:4rem;
  }
}

.swal2-modal h2 {
  font-family: @defaultHeading;
  color: #111;
  font-size:2.8rem;
  margin-bottom:1.5rem;
}

.swal2-modal .swal2-content {
  font-family: @defaultHeading;
  font-size:1.6rem;
}

.button-square-red, .swal2-confirm, .swal2-cancel {
   font-size:1.8rem;
   color: @colorMain;
   padding:0.5rem 1.5rem;
   border: 3px solid @colorMain;
   font-size: @buttonFontSize;
   font-weight: @buttonFontWeight;
   font-family: @buttonFont;
   line-height: @buttonLineHeight;
   outline: none;
  // padding: 0rem 1.5rem;
   background: @colorWhite;
   margin-left:0.7rem;
   margin-right:0.7rem;
   &.swal2-cancel {
    border: 3px solid fade(darken(@colorLightBrown,15%),50%);
    color: fade(darken(@colorLightBrown,15%),50%);
    &:hover {
      border-color:darken(@colorLightBrown,15%);
      color:darken(@colorLightBrown,15%);
      background-color:transparent;
    }
   }
   &:hover {
    color: #fff;
    background: @colorMain;
   }
}

.food-carousel {
  position: relative;
  max-height: 100vh;
  overflow: hidden;
  &.interior-carousel {
    height:100vh;
    max-height:none;
    .food-carousel-description {
      top: auto;
      bottom: 15rem;
    }
  }
  .slick-slide {
    position: relative;
  }
  .slick-arrow {
    cursor: pointer;
    svg {
      height:100%;
      width:100%;
      path, polygon {
        transition: .3s all;
        fill: fade( #fff, 50% );
      }
    }
    &:hover {
      svg {
        polygon {
          fill: #fff;
        }
      }
    }
  }
  .slick-prev, .slick-next {
    top:45%;
    z-index:2;
    position: absolute;
  }
  .slick-next {
    right:3%;
    left: auto;
  }
  .slick-prev {
    right:auto;
    left:3%;
  }
}

.food-carousel-description {
    position: absolute;
    top: 40%;
    width:100%;
    /* left: 40%; */
    text-align:center;
    .box {
      margin:0 auto;
      display:inline-block;
      position: relative;
      background-color: #fff;
      padding:0.6rem 1.8rem;
      b,span {
        font-size:3rem;
        color:#000;
        font-family: @defaultHeading;
      }
      b {
        display: inline-block;
        margin-right:2rem;
      }
    }
}

@sectionBgMedium: #e0d6c4;
@sectionBgLight: desaturate(mix(@sectionBgMedium,#fff,70%),5%);

.section-contacts {
  background-color: @sectionBgLight;
  position:relative;
  .decorative-left {
    height: 100%;
    position: absolute;
    left:-5rem;
    top:7rem;
    width:36%;
    background-size: 100% auto;
    background-position: top left;
    background-repeat: no-repeat;
  }
}

.contacts-bg {
  .section-contacts-content {
    text-align:center;
    color:#111;
    h1,h2,h3 {
    }
    input {
      color: #000
    }
  }
  .parallax-inner {
    width:100%;
    height:100%;
    position:relative;
    background:fade(#fff,30%);
  }
}
.section-contacts-content {
  padding-top: 8rem;
  padding-bottom: 9rem;
  font-family: @contactsFont;
  h2 {
    font-weight: @contactsFontWeight;
    font-size: @contactsFontSize;
    font-family: @defaultHeading;

    margin-bottom: 5rem;
    font-size: 3.5rem;
    font-weight: @defaultHeadingWeight;
  }

  p {
    font-weight:200;
    font-family: @defaultSans;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: 2rem;
   // font-style:italic;
    margin-bottom:2rem;
  }
}

.food-carousel-item {
  img { width: 100%; }
}

.section-map {
    .map {
      border-top: 10px solid darken(@sectionBgLight,10%);
      width:100%;
      height:100vh;
    }
}

.page-preloader {
  visibility:hidden;
  padding-left:300px;
  position:fixed;
  width:100vw;
  height:100vh;
  left:0;
  bottom:0;
  right:0;
  top:0;
  z-index:9;
  background: @sectionBgLight;
  text-align:center;
  padding-top:10rem;

  .main-logo-loading {
    path, .path {
      fill: none;
      stroke-miterlimit: 1;
      stroke-linecap: butt;
      stroke-linejoin: bevel;
    }
    .path {
      stroke-width:1px;
    }
    .path-1 {
      stroke:fade(darken(@colorRed,12%),50%);
    }

    .path-2 {
      stroke:fade(darken(@colorRed,12%),65%);
    }

    .path-3 {
      stroke:fade(darken(@colorRed,12%),80%);
    }

    .path-4 {
      stroke:fade(darken(@colorRed,12%),95%);
    }
  }

}

/*.section-contacts {
    .map {
      border-top: 10px solid darken(@sectionBgLight,10%);
      width:100%;
      height:450px;
    }
}*/

.section-contacts-phone {
  span {
    display:inline-block;
    padding:0.3rem 2rem;

    &.phone_ {
      background: @colorMain;
      color: #fff;
      font-size: 2.1rem;
    }

    &.address_ {
      color: @colorMain;
      background: lighten(#f1f1f1,3%);
      font-size: 2.1rem;
    }
    font-weight: 700;
  }
}

.input-square {
  outline: none;
  border: 3px solid @colorMain;
  padding: 0.4rem 1.3rem;
  font-size: @buttonFontSize;
  font-weight: 400;
  min-width: 22rem;
  &:hover {
    border-color: lighten(@colorMain,12%);
  }
}

button, input {
  transition: 0.3s all;
}


.button-square-send {
  outline: none;
  border: 3px solid @colorMain;
  padding: 0.4rem 1.3rem;
  font-size: @buttonFontSize;
  text-transform:uppercase;
  font-weight: @buttonFontWeight;
  font-family: @buttonFont;
  line-height: @buttonLineHeight;
  background-color: @colorMain;
  color: #fff;
  min-width: 16rem;
  &:hover {
    background-color: lighten(@colorMain,8%);
    border-color: lighten(@colorMain,8%);
  }
}

.fullscreen-carousel-close {
  position:fixed;
  right:5%;
  top:5%;
  font-size:4rem;
  color:#fff;
  z-index:66;
  cursor:pointer;
}

.slick-next, .slick-prev {
  [class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    display:block;
    line-height:1rem;
    font-size:8rem;
    transition:0.3s all;
    color: fade(#fff,70%);
    &:hover {
      color: #fff;
    }
  }
}

.fullscreen-carousel-close {
  [class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    color:#fff;
    font-size:3rem;
  }
}

.fullscreen-carousel {
  &.hidden {
    top:-100%;
  }
  display:block;
  position:fixed;
  z-index:6;
  width:100%;
  height:100%;
  left:0;
  right:0;
  top:0;
  bottom:0;
  .slick-prev, .slick-next {
    top:50%;
    z-index:2;
    position: absolute;
  }
  .slick-next {
    right:3%;
    left: auto;
  }
  .slick-prev {
    right:auto;
    left:3%;
  }
  .slick-slide {
  //  width: 100% !important;
  }
}

.interior-header {
  position: absolute;
  z-index: 9;
  width: 100%;
  height: 8rem;
}

.page-navigation {

  .main-logo-wrapper {
    position: absolute;
    margin: auto;
    z-index: 66;
    max-width: 14rem;
    padding: 1.2rem 1.3rem;
    left: 4rem;
    top: 0;
    background: #fff;
  }
}

@media screen and (max-width: 1450px){
  html {
    font-size:13px;
  }
}

@media screen and (max-width: 1024px){
  html {
    font-size:10px;
  }
  .decorative-left, .decorative-right {
    display:none;
  }
  .main-food-text {
    padding-top:10rem;
    padding-bottom:7rem;
  }
  .decorative-section-content {
    padding-left:1rem;
    padding-right:1rem;
    h2 {
      font-size:3.2rem;
    }
  }
  .food-carousel-description {
    top: auto;
    bottom: 2rem;
    .box b {
      font-size:2rem;
      margin-right:0;
    }
  }
  .slick-next [class^="flaticon-"]:before, .slick-prev [class^="flaticon-"]:before, .slick-next [class*=" flaticon-"]:before, .slick-prev [class*=" flaticon-"]:before, .slick-next [class^="flaticon-"]:after, .slick-prev [class^="flaticon-"]:after, .slick-next [class*=" flaticon-"]:after, .slick-prev [class*=" flaticon-"]:after {
    font-size:4rem;
  }
}


.page-navigation {
  .main-navigation {
    margin-top:0;
  }
}

.map {
  height:100vh;
}






/*
------------------  Burger Menu -----------------------
*/

@menuBgColor: lighten(#d5cab7,10%);

.bm-menu-wrap {
  z-index:301 !important;
}
.bm-burger-button {
  z-index:300 !important;
}

.bm-menu {
  .main-logo-wrapper {
    max-width:18rem;
    margin-top:1.5rem;
  }
  .main-navigation .nav-item {
    .main-logo-wrapper {
      margin: auto;
      max-width: 35rem;
      padding: 3rem 3rem;
      padding-bottom: 1rem;
    }
    display: block;
    color: #111;
    font-family: 'Roboto Condensed';
    font-weight: 500;
    font-size:1.52rem;
    text-transform:uppercase;
    padding-top:0.7rem;
    padding-bottom:0.7rem;
    transition: 0.3s all;
    margin-left:0;
    margin-right:0;
    &:hover {
      text-decoration: none;
      background: #d5cab7;
    }
    &.active {
      background: @colorMain;
      color:#fff;
      text-decoration:none;
    }
  }
}

.bm-burger-button {
  position: fixed;
  width: 2.5rem;
  height: 2.5rem;
  right: 2rem;
  top: 2rem;
  z-index:5;
}

.bm-burger-bars {
  background: @colorRed;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: mix(@menuBgColor,#000,50%);
}

.bm-menu {
  background: @menuBgColor;
  padding: 0;
}

.bm-morph-shape {
  fill: #3C3C3C;
}

.bm-item-list {
  color: #b8b7ad;
  overflow-y:hidden;
  background-color: @menuBgColor;
  //padding: 0.8em;
}

.bm-overlay {
  background: rgba(255, 255, 255, 0.3) !important;
}

.section-index-top {
  position:relative;
  .top-header-overlay {
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    z-index:1;
    width:100%;
    height:100%;
    background-color:fade(#fff,30%);
  }
}
[data-path="/index"], [data-path="/"] {
  .top-logo-square {
    display: none;
  }
}

[data-path="/contacts"] {
  .map {
    height:100vh;
  }
}

[data-path="/delivery"] {
  .map {
    display:none;
    height:100vh;
  }
}

[data-path="/interior"] {
  .map {
    display:none;
    height:100vh;
  }
}
