//@import "http://archive.andreystarkov.ru/resources/fonts/pobeda/regular/styles.css";
//@import "http://archive.andreystarkov.ru/resources/fonts/styles.css";

@colorMain: #ff6f5a;
@colorWhite: #fffeff;

.main-header {
 // min-height: 80vh;
  .react-parallax, .react-parallax-content, .main-header-container {
    min-height: 80vh;
  }
}

.main-header-container {
  position:relative;
  //display:flex;
  //align-items:center;
  //justify-content:center;
  width:100%;
  height:100%;
  padding-top:10%;
}

.main-logo-wrapper {
  margin: auto;
  max-width: 30rem;
  padding:2rem 3rem;
  background-color:fade(#fff,50%);
  svg {
    width:100%;
  }
}

.main-logo {
  path {
    fill: @colorMain
  }
}

.interior-grid {
  .container-fluid {
    padding-left:0;
    padding-right:0;
  }
}

.interior-item {
  cursor: pointer;
  display:block;
  position:relative;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  .interior-image-link {
    display:block;
    width:100%;
    height:100%;
  }
  .interior-image {
    //min-height: 20rem;
    width:100%;
    height:20rem;
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
  }
  &:hover {
    .image-overlay {
      opacity:0;
    }
  }
}

.image-overlay {
  position:absolute;
  z-index:1;
  left:0;
  top:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  background-color:fade(#fff,15%);
  transition: .35s all;
}

.main-navigation {
  text-align:center;
  margin-top:5%;
  .nav-item {
    margin-left:1.5rem;
    margin-right:1.5rem;
    font-family: 'Pobeda';
    color: #000000;
    font-weight:700;
    font-size: 2rem;
  }
}

.main-food-text {
  padding-top: 14rem;
  min-height: 38rem;
  padding-bottom: 14rem;
  background-color: @colorWhite;
  position:relative;
  .decorative-left {
    height: 100%;
    position: absolute;
    left:0;
    top:-5rem;
    width:37%;
    background-size: auto 100%;
    background-position: top left;
    background-repeat: no-repeat;
  }
  .decorative-right {
    height: 100%;
    position: absolute;
    right:0;
    top:-2rem;
    width:28%;
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
  }
}

.decorative-container {
  position:relative;
  width:100%;
  height:100%;
}

.decorative-section-content {
  font-family: 'Pobeda';
  h2 {
    font-weight:700;
    font-size:3.4rem;
    font-family: 'Pobeda';
    margin-bottom:3rem;
  }

  p {
    font-family: 'Pobeda';
    font-weight:300;
    line-height:2.5rem;
    font-size:2.2rem;
    margin-bottom:4rem;
  }
}

.swal2-modal h2 {
  font-family: 'Pobeda';
  color: #111;
  font-size:2.8rem;
  margin-bottom:1.5rem;
}

.swal2-modal .swal2-content {
  font-family: 'Pobeda';
  font-size:1.6rem;
}

.button-square-red, .swal2-confirm {
   font-size:1.8rem;
   color: @colorMain;
   padding:1.5rem 2.5rem;
   border: 3px solid @colorMain;
   font-family: 'Pobeda';
   outline: none;
   font-size: 1.5rem;
   padding: 0rem 2.2rem;
   font-weight: 600;
   line-height: 2.7rem;
   background: @colorWhite;
   &:hover {
    color: #fff;
    background: @colorMain;
   }
}

.food-carousel {
  position: relative;
  max-height: 42rem;
  overflow: hidden;
  .slick-slide {
    position: relative;
  }
  .slick-arrow {
    cursor: pointer;
    svg {
      height:100%;
      width:100%;
      path, polygon {
        transition: .3s all;
        fill: fade( #fff, 50% );
      }
    }
    &:hover {
      svg {
        polygon {
          fill: #fff;
        }
      }
    }
  }
  .slick-prev, .slick-next {
    top:45%;
    z-index:2;
    position: absolute;
  }
  .slick-next {
    right:3%;
    left: auto;
  }
  .slick-prev {
    right:auto;
    left:3%;
  }
}

.food-carousel-description {
    position: absolute;
    top: 40%;
    width:100%;
    /* left: 40%; */
    text-align:center;
    .box {
      margin:0 auto;
      display:inline-block;
      position: relative;
      background-color: #fff;
      padding:0.6rem 1.8rem;
      b,span {
        font-size:3rem;
        color:#000;
        font-family: 'Pobeda';
      }
      b {
        display: inline-block;
        margin-right:2rem;
      }
    }
}

.section-contacts {
  position:relative;
  .decorative-left {
    height: 100%;
    position: absolute;
    left:-5rem;
    top:7rem;
    width:36%;
    background-size: 100% auto;
    background-position: top left;
    background-repeat: no-repeat;
  }
}
.section-contacts-content {
  padding-top: 8rem;
  padding-bottom: 9rem;
  font-family: 'Pobeda';
  h2 {
    font-weight:700;
    font-size:3.3rem;
    font-family: 'Pobeda';
    margin-bottom:2.2rem;
  }

  p {
    font-weight:200;
    //font-family: 'Fira Sans';
    font-size: 1.7rem;
    line-height: 2.4rem;
    margin-top: 2rem;
    font-style:italic;
    margin-bottom:2rem;
  }
}

.food-carousel-item {
  img { width: 100%; }
}

.section-contacts {
    .map {
      border-top: 10px solid #ddd;
      width:100%;
      height:650px;
    }
}

.section-contacts-phone {
  span {
    display:inline-block;
    padding:0.3rem 2rem;

    &.phone_ {
      background: @colorMain;
      color: #fff;
      font-size: 2.1rem;
    }

    &.address_ {
      color: @colorMain;
      background: lighten(#ddd,3%);
      font-size: 2.1rem;
    }
    font-weight: 700;
  }
}

.input-square {
  outline: none;
  border: 3px solid @colorMain;
  padding: 0.4rem 1.3rem;
  font-size: 1.5rem;
  font-weight: 600;
  min-width: 22rem;
  &:hover {
    border-color: lighten(@colorMain,12%);
  }
}

button, input {
  transition: 0.3s all;
}

.button-square-send {
  outline: none;
  border: 3px solid @colorMain;
  padding: 0.4rem 1.3rem;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: @colorMain;
  color: #fff;
  min-width: 16rem;
  &:hover {
    background-color: lighten(@colorMain,8%);
    border-color: lighten(@colorMain,8%);
  }
}
