{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "standard-react"
  ],
  "plugins": [
    "babel",
    "react",
    "promise"
  ],
  "env": {
    "browser" : true
  },
  "globals": {
    "__DEV__"      : false,
    "__TEST__"     : false,
    "__PROD__"     : false,
    "__COVERAGE__" : false
  },
  "rules": {
    "semi": ["error", "never"],
    "func-names": "off",
    "no-console": "off",
    "comma-dangle": "error",
    "prefer-template": "off",
    "import/no-unresolved": "off",
    "no-restricted-syntax": [
      "error",
      "DebuggerStatement",
      "LabeledStatement",
      "WithStatement",
    ],
    "no-plusplus": "off",
    "no-continue": "off",
    "prefer-arrow-callback": "off",
    "class-methods-use-this": "off",
    "generator-star-spacing": "off",
    "space-before-function-paren": "off",
    "import/no-extraneous-dependencies": "off"
  },
}
