@font-face {
    font-family: 'Airport';
    src: local('Airport'), url('airport.woff2') format('woff2'), url('airport.woff') format('woff'), url('airport.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
