@font-face {
    font-family: 'BravoRG';
    src: local('BravoRG'), url('bravorg.woff2') format('woff2'), url('bravorg.woff') format('woff'), url('bravorg.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
