@font-face {
    font-family: 'Bukhari Script';
    src: local('Bukhari Script'), local('BukhariScript-Regular'), url('Bukhariscript.woff2') format('woff2'), url('Bukhariscript.woff') format('woff'), url('Bukhariscript.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
