@font-face {
    font-family: 'Fontatigo 4F';
    src: local('Fontatigo 4F'), local('Fontatigo4F'), url('fontatigo4f.woff2') format('woff2'), url('fontatigo4f.woff') format('woff'), url('fontatigo4f.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
