@font-face {
    font-family: 'Ristretto Pro';
    src: local('RistrettoPro-Regular'), url('Ristrettopro-regular.woff2') format('woff2'), url('Ristrettopro-regular.woff') format('woff'), url('Ristrettopro-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
